@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

*{
    padding: 0;
    margin: 0;
}

body{
    height: 300px;

}


.titulo {  
    text-align:center;
    font-family: Yeseva One;
    color: white;
    font-size: 5px;
    padding: 8px;
    text-decoration: none;
    display: block;
}

.img {
    width: 35px;
    margin-left: 8px;
}

.navbar{
    
    right: 0;
    left: 0;
    top: 0;
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    background-color: #e9967a;
    color: white;
    font-family: Yeseva One;
}
.paragrafo{

    color: black;
    text-align: center;
    align-items: center;
    margin-top: 40px;
    font-size: 11px;
    font-family: Poppins;
}

.imgs
{
    border-radius: 10px;
    border: 10px black ;
    width: 60px;
    margin-left: 5px;
    
}

.container {

        margin-left: 10%;
        margin-right: 10%;
        margin-top: 10%;
        margin-bottom: 10%;
        border: 1px solid  rgb(0, 0, 0);
        background-color: white;
        width: 70px;
        height: px;
        align-items: center;

        border-radius: 5px;
    }


.letra{

    font-size: 5px;
    text-align: center;
}

.button {

    border:  solid;
    text-decoration: none;
    font-size: 5px;
border-radius: 2px;
border-color: black;
}